<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="./css/snapagram.july14.css" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <title>snapagram_photo_sharing_app</title>
</head>
<!-- <div><a href="/signup">Signup for a new account</a></div>
<div><a href="/login">Login to an existing account</a></div> -->
<body class="text-center">
  <nav class="navbar navbar-inverse navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand text-white" href="#cover"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <a class="btn navbar-btn btn-secondary mx-0 px-3" href="/signup">Signup for a new account</a>
      </div>
    </div>
    <a class="btn navbar-btn btn-secondary mx-3 px-3" href="/login">Login to an existing account</a>
  </nav>
  <div class="cover d-flex align-items-center pt-5 bg-primary" id="cover">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left align-self-center my-5 py-0">
          <h1 class="text-white display-1">Snapagram&nbsp;</h1>
          <h4 class="text-white mx-0">The photo sharing app you've been waiting for.</h4>
          <div class="row mt-5">
            <div class="col-md-5 col-6">
              <a href="#download"></a>
            </div>
            <div class="col-md-5 col-6">
              <a href="#download"></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="d-block mx-auto rounded-circle" src="./css/images/homepagePic.jpeg"> </div>
      </div>
      <div class="row">
        <div class="col-md-12"> </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-primary h-75 m-0 text-white" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><i class="fa fa-fw text-white fa-globe fa-5x" id="globe"></i>
          <p class="">Developed in New York City</p>
        </div>
        <div class="col-md-6"><i class="fa fa-fw text-white fa-github fa-5x d-inline" id="github"></i>
          <p class="">Connect with this project on Github</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 my-3 h-25">
          <p class="h-25 my-0" contenteditable="true">© Copyright 2017 Snapagram - All rights reserved. Developed by Samir Dhebar and Gabe Arnold.</p>
        </div>
        <div class="py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-12"></div>
      </div>
    </div>
  </div>

</body>

</html>
