<!DOCTYPE html>
<html>
	<head>
		<title>Home - Snapagram</title>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="/css/skeleton.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<h1>Snapgram - A Community of Photo Enthusiasts</h1>
		<div><a href="/signup">Signup for a new account</a></div>
		<div><a href="/login">Login to an existing account</a></div>
	</body>
</html>
