<!DOCTYPE html>
<html>
<!--
<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
<link rel="stylesheet" type="text/css" href="/css/skeleton.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<form method="post" id="login-form">
	<h1>Login to Snapagram</h1>

	<% if (typeof error !== "undefined") { %>
		<div class="error"><%= error %></div>
	<% } %>

	<input type="text" name="username" placeholder="Username"/>
	<input type="password" name="password" placeholder="Password"/>
	<button>Submit</button>
</form> -->

<!-- <script src="/js/login.js"></script> -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.github.io/templates/app/theme.css" type="text/css">
  <script src = "../assets/js/login.js"></script>
  <script src = "../assets/js/signup.js"></script>
  <title>Snapagram</title>


</head>
<body class="text-center bg-primary">
  <div class="py-5 bg-primary text-white w-50">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-nowrap display-3">Login</h1>
        </div>
      </div>
    </div>
  </div>
	<form method="post" class="text-gray-dark">
		<!-- <h1>Signup</h1> -->

		<% if (typeof error !== "undefined") { %>
			<div class="error"><%= error %></div>
		<% } %>

		<input type="text" name="username" placeholder="Username"/>
		<input type="password" name="password" placeholder="Password"/>
		<button>Submit</button>
	</form>
  <div class="cover d-flex align-items-center pt-5 bg-primary" id="cover"></div>
  <div class="section py-5 text-md-left bg-primary" id="app"></div>
  <div class="py-5 text-left bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12 align-self-center my-3">
          <h2 class="text-primary my-3">Works everywhere</h2>
          <a href="#download" class="btn btn-outline-primary btn-lg">Download</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-primary" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 my-3">
          <p>© Copyright 2017 Snapagram - All rights reserved. Developed by Samir Dhebar and Gabe Arnold.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
      </div>
    </div>
  </div>


</body>

</html>
