<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
		<link rel="stylesheet" href="./css/snapagram.july14.css" type="text/css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<title>Recent Pictues</title>
	</head>

	<body class="text-center">

	<h3>Recent Uploads</h3>


	<div class = "navbar-nav">
			<a href = "/photos" class = "page-link">Home</a>
			<a href = "/" class = "page-link">Logout</a>
			<a href = "/upload" class="page-link">Upload Something</a>
	</div>
	<div class = "container">
		<div class = "photos">
			<p>
				<% for (let i = 0; i < photos.length; i++) { %>
					<a href = "/uploads/<%- photos[i].get('id') %>">
						<img class= "gallery-image" src = "/uploads/<%- photos[i].get('id') %>"/>
					<% } %>
			</p>
			<div class = "text-box"></div>
		</div>
	</div>
	<script src="/js/photos.js"></script>
	<script src="/js/delete.js"></script>

	</body>

</html>
