
<link rel="import" href="template.ejs">
<form class = "Form" method = "post" id = "signup-form">
	<% if(typeof error !== undefined) { %>
		<div class= "error"><%= error %></div>
		<%}%>
	<input class="signup-username" type="text" name = "username" placeholder="Please Enter A Username"></input><br>

	<input class="signup-password" type="password" name = "password" placeholder="Please Enter A Password"></input><br>

	<button class ="submit">Submit</button>
</form>

<!-- <script src="/js/signup.js"></script> -->
