	<head>
		<title>Snapagram</title>

		<meta name="viewport" content="width-device-width, initial scale=1">
		<link rel="stylesheet" types="text.css" href="/css/cssReset.css">
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="/css/skeleton.css"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	</head>
	<body class = "bodyContainer" id="body-image">
		<div class = "nav" id="navbar">
			<div class = "nav header" id="navheader">
			</div>
		<div class = "button" id="upload">Upload</div>
		<div class = "button" id="signoff">Sign Off</div>
		<div class = "photos">
			
		</div>
			<%-include("views/" + page, args);%>

			</div>
		<footer>Snapagram by @samirdhebar and @GabeSArn</footer>
	</body>
	<!--
			</div>

		</div>
	</body>>

	</body>
		<div class="template">
			<div class="template-header">
				<a href="/" class="template-header-title">Snapgram</a>
			</div>
			<div class="template-body">
				<% if (page) { %>
					<%- include(page, pageArgs); %>
				<% } else { %>
					No page variable provided!
				<% } %>
			</div>
		</div>
	</body>
</html> -->
