<!DOCTYPE html>
<html>
	<head>
		<title>""</title>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
		<link rel="stylesheet" type="text/css" href="/css/skeleton.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="template">
			<div class="template-header">
				<a href="/" class="template-header-title">Snapgram</a>
			</div>
			<div class="template-body">
				<% if (page) { %>
					<%- include(page, pageArgs); %>
				<% } else { %>
					No page variable provided!
				<% } %>
			</div>
		</div>
	</body>
</html>
